body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.navbarra {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbarra ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbarra ul li {
    margin: 0 15px;
}

.navbarra ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbarra ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 50px 20px; /* Reduzido padding */
    margin: 60px auto; /* Espaço para a navbar fixa e centralizado */
    max-width: 800px; /* Largura máxima da seção */
    background: #f5f5f5; /* Cor de fundo da seção */
    text-align: center;
    position: relative;
    border: 5px solid white; /* Borda externa branca */
    border-radius: 8px;
    box-shadow: inset 0 0 0 5px #f5f5f5;

}
